{% extends 'layouts/default.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card rounded-0 my-3">
            <div class="card-header">Task list</div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">
                                <a href="
                                {% if request.page is defined %}
                                    /{{ ROOT }}/?page={{ request.page }}&sort=username&{% if request.order == 'desc' %}order=asc{% else %}order=desc{% endif %}
                                {% else %}
                                    /{{ ROOT }}/?sort=username&{% if request.order == 'desc' %}order=asc{% else %}order=desc{% endif %}
                                {% endif %}
                                ">Username</a>
                            </th>
                            <th scope="col">
                                <a href="
                                    {% if request.page is defined %}
                                        /{{ ROOT }}/?page={{ request.page }}&sort=email&{% if request.order == 'desc' %}order=asc{% else %}order=desc{% endif %}
                                    {% else %}
                                        /{{ ROOT }}/?sort=email&{% if request.order == 'desc' %}order=asc{% else %}order=desc{% endif %}
                                    {% endif %}
                                ">Email</a>
                            </th>
                            <th scope="col">
                                Task
                            </th>
                            <th scope="col">
                                <a href="
                                    {% if request.page is defined %}
                                        /{{ ROOT }}/?page={{ request.page }}&sort=status&{% if request.order == 'desc' %}order=asc{% else %}order=desc{% endif %}
                                    {% else %}
                                        /{{ ROOT }}/?sort=status&{% if request.order == 'desc' %}order=asc{% else %}order=desc{% endif %}
                                    {% endif %}
                                ">Status</a>
                            </th>
                            {% if user.isAuthorized() %} 
                                <th scope="col"></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in task_list %}
                        <tr>
                            <td>
                                {{ task['username'] }}
                            </td>
                            <td>
                                {{ task['email'] }}
                            </td>
                            <td>
                                {{ task['text'] }}
                            </td>
                            <td>
                                {% if task['status'] == 'Y' %}
                                    <input type="checkbox" checked disabled>
                                {% else %}
                                    <input type="checkbox" disabled>
                                {% endif %}
                                {% if task['is_edit'] == 'Y' %}
                                    <p>
                                        <strong>Edited by admin</strong>
                                    </p>
                                {% endif %}
                            </td>
                            {% if user.isAuthorized() %} 
                            <td>
                                <a href="/{{ ROOT }}/task/edit/{{ task['id'] }}" class="btn btn-sm btn-success">Edit</a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>

        {% if pagination is defined %}
        <div class="row">
            <nav aria-label="..." class="m-auto">
                <ul class="pagination">
                    {% for i in 1..pagination['number_of_pages'] %}
                        <li class="page-item">
                            <a class="page-link pag-link" href="
                            {% if request.sort is defined %}
                                /{{ ROOT }}/?page={{i}}&sort={{request.sort}}&order={{ request.order }}
                            {% else %}
                                /{{ ROOT }}/?page={{i}}
                            {% endif %}
                            " tabindex="-1">{{i}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    {% endif %}
    </div>
</div>


{% endblock %}